/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background: #fff;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
}

.loginform_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 350px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 4px 44px -19px rgba(0, 0, 0, 1);
  border-radius: 0.625rem;
  padding: 1.5rem;
}

.input_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
  width: 100%;
  position: relative;
}

.input_group input {
  width: 100%;
  min-width: 260px;
  padding: 0.8rem;
  font-size: 1rem;
  border: 2.4px solid #ccc;
  background-color: #fffcfc;
  border-radius: 10px;
  outline: none;
  transition: all 0.3s ease;
  resize: vertical;
}

.input_group input:focus {
  font-size: 0.875rem;
  border-color: #b3b5b3;
}

.input_group input::placeholder {
  color: #888;
  font-size: 0.8rem;
}

.loginform_container a {
  display: block;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-size: 0.7rem;
}

.loginform_container a:hover {
  text-decoration: underline;
}

label {
  color: #000000;
  text-align: left;
  font-size: 0.7rem;
  font-weight: bold;
}

.password_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password_container input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 2.4px solid #ccc;
  border-radius: 10px;
  outline: none;
  resize: vertical;
}

.password_container button {
  position: absolute;
  right: 0.7rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
}

#passwordError {
  color: red;
  font-size: 12px;
  display: none;
  max-width: 100%;
  width: 100%;
  word-wrap: break-word;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  position: static;
}

#loginbutton {
  width: 100%;
  max-width: 180px;
  height: 3.0625rem;
  display: block;
  margin: 0.625rem auto;
  border: 0.125rem solid white;
  font-weight: bolder;
  border-radius: 10px;
  background-color: #36a13a;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

#loginbutton:hover {
  background-color: #ec202a;
  border-color: #fff;
}

#loginbutton:active {
  background-color: #a1a1a1;
  border-color: #e0e0e0;
}
::-ms-reveal {
  display: none;
}

.logo img {
  width: 120px;
  height: auto;
  min-height: 3.125rem;
}

@media (max-width: 759px) {
  .loginform_container {
    width: 90%;
    max-width: 24rem;
    padding: 1rem;
  }

  .input_group input,
  .password_container input {
    font-size: 0.9rem;
    padding: 0.7rem;
  }

  label {
    font-size: 0.9rem;
  }

  #loginbutton {
    width: 200px;
    height: 3rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
  }

  .loginform_container {
    padding: 0.8rem;
  }

  .input_group {
    margin-bottom: 0.6rem;
  }

  .input_group input,
  .password_container input {
    font-size: 0.9rem;
    padding: 0.7rem;
  }

  label {
    font-size: 0.85rem;
  }

  #loginbutton {
    height: 44.8px;
    width: 150px;
    font-size: 0.85rem;
  }
}
