/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  background: #fff;
}
h1 {
  color: #000000;
  padding-bottom: 20px;
  font-size: 25px;
  text-align: center;
}
.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  margin-top: 50px;
  padding: 20px; /* Added padding for spacing */
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 380px;
  max-width: 100%; /* Makes it responsive */
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 4px 44px -19px rgba(0, 0, 0, 1);
  border-radius: 10px;
  padding: 20px;
}
.form-container label {
  display: block;
  text-align: left;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}
.input_group {
  flex-direction: column;
  margin-bottom: 15px;
}
.input_group {
  flex-direction: column;
  margin-bottom: 1.25rem;
}
.input_group input:focus {
  border-color: #a1a1a1;
  box-shadow: 0 0 0.3125rem #6f6f6f(54, 161, 58, 0.5);
}

.form-container input {
  align-self: center;
  width: 100%; /* Ensures full width */
  max-width: 440px; /* Prevents excessive stretching */
  padding: 10px;
  font-size: 12px;
  border: 2px solid #ccc;
  background-color: #fffcfc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

button {
  width: 200px; /* Wider button */
  height: 40px; /* More height for easy clicking */
  font-weight: bolder;
  display: block;
  border: none;
  outline: none;
  background: #36a13a;
  color: #fff;
  margin: 10px auto;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s ease;
}

button:hover {
  background: #ec202a;
  color: white;
}

/* Make Images Smaller */
.logo img {
  width: 7.5rem;
  height: auto;
  min-height: 3.125rem;
}

@media (max-width: 760px) {
  h1 {
    font-size: 20px;
  }
  .reset-password-container {
    margin-top: 20px;
    padding: 10px;
  }
  .form-container {
    width: 100%;
    padding: 15px;
  }
  .form-container input {
    font-size: 15px;
  }
  button {
    width: 100%;
    max-width: 180px;
    height: 50px;
    font-size: 12px;
  }
}
